h1 {
  padding: 3rem;
  font-size: 3.4rem;
  color: rgb(91, 126, 221);
}

input {
  border-radius: 25px;
  border: 1px solid #666;
  width: 90%;
  height: 2.6rem;
  outline: none;
  padding: 0 1rem 0 1rem;
}

.to-dos {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2.6rem;
}

.to-do {
  color: azure;
  width: 100%;
  min-height: 3.4rem;
  background-color: rgb(50, 119, 184);
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-do p {
  margin: 0;
  padding: 0;
}
